/- TODO delete if not needed (sets valid_submission = true|false based on http status)
- if(successful_submission?)
  - valid_submission = true
- else
  - valid_submission = false

- content_for(:async_js) {"<%= file_name %>/<%= file_name %>"}
- content_for(:stylesheets) do
  = stylesheet_link_tag "<%= file_name %>/<%= file_name %>" , :media => "all"
  = stylesheet_link_tag "validation/validation" , :media => "all"

- content_for(:meta) { render "shared/meta", @meta }

/- regular page load tracking
- content_for(:scripts) do
  - configure_js :tracking, @analytics_config

/- TODO delete if not needed (google custom event tracking)
- if @google_event_tracking
  - content_for :head_js do
    :javascript
      window.lp.analytics.googleEventVariables = #{@google_event_tracking};
      window.lp.analytics.trackValidSubmission = #{valid_submission};

/- TODO role=main content area
%section{role: "main"}
 %p
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut odio ligula, tincidunt vel urna vel, congue pellentesque magna. Maecenas eget ipsum pharetra, faucibus augue at, accumsan ipsum. Quisque arcu felis, vestibulum nec est a, efficitur hendrerit justo. Nam semper consequat congue. Suspendisse dignissim id mi nec feugiat. Integer eget lobortis est. Sed eget quam sagittis, porttitor sapien nec, mattis nunc. Vestibulum vel orci nisi. Aliquam erat volutpat.

/- TODO update (initial form logic)
- if !valid_submission
  = form_tag(form_save_path, :method => :post, :class => "form-container", "data-lp-validate" => true) do
    - @hidden_config_tags.each do |tag|
      = hidden_field_tag tag[:name], tag[:value]

    .input-txt.text-form.col-1
      = ui_component("forms/text_field", properties: @first_name)
    .input-txt.text-form.col-2
      = ui_component("forms/text_field", properties: @last_name)
    .input-txt.col-1
      = ui_component("forms/dropdown", properties: @countries.merge({options: @gonzo.regions}))
    .input-txt.text-form.col-2
      = ui_component("forms/text_field", properties: @email)

    = ui_component("forms/checkbox_field", properties: @optin)
    = ui_component("forms/checkbox_field", properties: @terms)

    = submit_tag "Submit" , class: "btn btn--grey btn--full-width"
- else
  %h1 "FORM SUBMITTED SUCCESFULLY"
  %p.backlink
    %a{:href => "/<%= file_name.gsub('_','-') %>?delete_cookie=true"} Go back
