- content_for(:async_js) {'<%= file_name %>/<%= file_name %>'}
- content_for(:stylesheets) do
  = stylesheet_link_tag '<%= file_name %>/<%= file_name %>' , :media => "all"

- content_for(:meta) { render "shared/meta", @meta }

- content_for(:scripts) do
  - configure_js :tracking, @analytics_config

= form_tag(form_save_path, :method => :post, :class => "form-container", "data-lp-validate" => true) do
  - @hidden_config_tags.each do |tag|
    = hidden_field_tag tag[:name], tag[:value]

  .input-txt.col-1
    = ui_component('forms/text_input', properties: @first_name)
  .input-txt.col-2
    = ui_component('forms/text_input', properties: @last_name)
  .input-txt.col-1
    = ui_component('forms/dropdown', properties: @countries.merge({options: @gonzo.regions}))
  .input-txt.col-2
    = ui_component('forms/text_input', properties: @email)

  = ui_component('forms/checkbox_field', properties: @optin)
  = ui_component('forms/checkbox_field', properties: @terms)

  = submit_tag "Submit" , class: "btn btn--grey btn--full-width"
